

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #8FBACC;
	
}

h1 {
	color: #331C15;
	text-align: center;
	background-color: gray;
	padding: 20px;

}

#container {
	width: 960px;
	margin: auto;
	margin-top: 10px;
}

img {
	padding: 25px;
}




.col-sm-3 {
	background-color: #3D2B14 !important;
}

.col-xs-6 {
	border: 8px solid gray;
	background-color: #706F6E;
	color: white;

}



h6 {
	color: white;
	text-align: center;
}


td {
	padding: 1px;
	
}

td b {
	color: white;
}

tr {
	color: black;
}

@media screen and (max-width:959px) {
	
	
	#container {
		width: 100%;
	}

img {
	width: 100%;
	
	}	
	
}	
	
